<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Cadê Buffet</title>
</head>
<body>
  <div id="app">
    <h1>Cadê Buffet</h1>
    
    <div v-if="selectedBuffet == null">
      <h2>Catálogo de Buffets</h2>

      <input type="text" v-model="buffetQuery" placeholder="Digite o nome do Buffet para buscar">
      <p v-if="buffets.length <= 0">Nenhum Buffet encontrado!</p>

      <dl v-for="buffet, index in filteredBuffets">
        <dt><button v-on:click="selectBuffet(index)">{{ buffet.brand_name }}</button></dt>
        <dd>{{ buffet.city }} - {{ buffet.state }}</dd>
        <dd>{{ buffet.description }}</dd>
      </dl>
    </div>
    
    <div v-if="selectedBuffet != null && selectedEventType == null">
      <h2>{{ selectedBuffet.brand_name }}</button></h2>
      <p>{{ selectedBuffet.description }}</p>
      <p>Telefone: {{ formatPhone(selectedBuffet.phone) }}</p>
      <p>Endereço: {{ getFullAddress(selectedBuffet) }}</p>

      <div>
        <h3>Tipos de Evento Oferecidos</button></h3>
        <dl v-for="eventType, index in eventTypes">
          <dt><button v-on:click="selectEventType(index)">{{ eventType.name }}</button></dt>
          <dd>{{ eventType.description }}</dd>
        </dl>
      </div>
      <p>{{ selectedEventType }}</p>
    
      <button v-on:click="selectedBuffet = null">Voltar Para a Tela Inicial</button>
    </div>

    <div v-if="selectedEventType != null">
      <h2>{{ selectedEventType.name }}</h2>
      <p>{{ selectedEventType.description }}</p>
      <p>Mínimo de convidados: {{ selectedEventType.minimum_attendees }}</p>
      <p>Máximo de convidados: {{ selectedEventType.maximum_attendees }}</p>
      <p>Duração: {{ selectedEventType.duration }} minutos</p>

      <h3>Cardápio</h3>
      <p>{{ selectedEventType.menu }}</p>

      <h3>Opções Adicionais</h3>
      <p>Fornece Bebidas Alcoólicas: {{ zeroOneToText(selectedEventType.provides_alcohol_drinks) }}</p>
      <p>Fornece Decoração: {{ zeroOneToText(selectedEventType.provides_decoration) }}</p>
      <p>Fornece Serviço de Estacionamento: {{ zeroOneToText(selectedEventType.provides_parking_service) }}</p>
      <p>Atende a Endereço Indicado por Cliente: {{ zeroOneToText(selectedEventType.serves_external_address) }}</p>

      <input type="date" datemin="" v-model="dateField" placeholder="Data de realização">
      <input type="number" min="1" step="1" v-model="attendeeQuantityField" placeholder="Quantidade de convidados">
      <button v-on:click="checkEventAvailability()">Consultar Disponibilidade do Evento</button>

      <div v-if="availableEvent == true">
        <p>O tipo de evento está disponível para esta data!</p>
        <h3>Confira os Preços Prévios!</h3>
        <dl v-for="price in prices">
          <dt>{{ price.description }}</dt>
          <dd>R${{ formatPrice(price.value) }}</dd>
        </dl>
      </div>

      <button v-on:click="closeEventType()">Voltar Para o Buffet</button>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>